<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42013996744-uumm6dk3js0bqatrm3n8r4iu1mh947ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42013996744-uumm6dk3js0bqatrm3n8r4iu1mh947ic</string>
	<key>API_KEY</key>
	<string>AIzaSyDS-PDwBUZFnSHXnbXW_WmCEHnsAkbuxDA</string>
	<key>GCM_SENDER_ID</key>
	<string>42013996744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.yinz1.sharedPB</string>
	<key>PROJECT_ID</key>
	<string>yinz1-shared-photo-bucke</string>
	<key>STORAGE_BUCKET</key>
	<string>yinz1-shared-photo-bucke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42013996744:ios:bfad5148561f113ff117fd</string>
</dict>
</plist>